<header>
    <!--Barra de Navegación-->
    <nav class="navbar container">
      <!--Logo-->
      <a href="./home"><picture class="navbar_logo">
        <img
          src="./multimedia/branding/logo_light_horizontal.svg"
          alt="Logo horizontal Funkoshop"
        />
      </a>
      </picture>
      <!--Opciones de menú-->
      <ul class="navbar_menu">
        <li class="navbar_item with-submenu"> <a class="navbar_link with-icon" href="./shop">SHOP<iconify-icon icon="tabler:chevron-down"></iconify-icon></a> 
          <ul class="submenu"> 
            <li class="submenu_item">
              <a href="" class="submenu_link">Funkos</a>
            </li>
            <li class="submenu_item">
              <a href="" class="submenu_link">Remeras</a>
            </li>
            <li class="submenu_item">
              <a href="" class="submenu_link">Llaveros</a>
            </li>
          </ul>
        </li>
        <li class="navbar_item"><a class="navbar_link" href="/contacto.html">CONTACTO</a></li>
        <li class="navbar_item"><a class="navbar_link" href="/login.html">LOGIN</a></li>
        <li class="navbar_item"><a class="navbar_cart" href="/carrito.html"><img src="./multimedia/icons/cart-icon.svg" alt="Carrito de compras"/></a></li>
      </ul>
    </nav>
  </header>