<!DOCTYPE html>
<html lang="en">
  <head>
    <title>FUNKOSHOP</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/index.css" rel="stylesheet"/>
    <link href="./css/shop.css" rel="stylesheet"/>

  </head>